* {
  margin: 0;
  padding: 0;
  /*box-sizing: border-box;*/
  color: #f5f8fc;
}

html , body {
  min-height: 100%;
  background-color: #0D0D0D;
  font-size: 16px;
}

body {
  padding: 2.5%;
}

textarea {
  min-width: 100%;
  padding: 2.5%;
  background-color: #1F1F1F;
  resize: vertical;
}

.CodeMirror {
    background: #0d1117 !important;
    min-height: 90vh;
}

.CodeMirror-gutters {
  background: #1c2a2e !important;
  border-right: 10vw solid #1c2a2e !important;
  min-width: 8%;
}

.CodeMirror-linenumber {
  min-width: 100%;
  text-align: right;
  color: #bbbbbb !important; 
}

.cm-quotation { color: #a5d6ff; }  /* Quotations */
.cm-print { color: #d2a8ff; font-weight: bold; } /* print & println */
.cm-symbol { color: #79c0ff; } /* Arithmetic & Conditional symbols */
.cm-int { color: #ffa657; font-weight: bold; } /* int and !int */
.cm-value { color: #7ee787; } /* Numbers & Boolean */
